.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    padding: 0;
}
/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}
/* Custom page header */

.header {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}
/* Custom page footer */

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}
/* Main marketing message and sign up button */

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
/* Supporting marketing content */

.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}
/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
    /* Remove the padding we set earlier */

    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */

    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */

    .jumbotron {
        border-bottom: 0;
    }
}

.home_container {
    background-image: url('../images/shop.jpg');
    height: 100%;
    position: absolute;
    width: 100%;
    background-position-x: 41%;
}

.home_container md-content {
    background-color: rgba(255, 255, 255, 0) !important;
}
.fa-qrcode, .fa-credit-card, .fa-history{
    font-size: 1.8em !important;
}
.home_container md-content{
    margin-left: 10px;
  margin-top: 30px;
}
.bank_head{
  color: rgb(22, 112, 200);
}
.fa-cc-visa{

}
.card_num{
    color: rgb(116, 181, 244);
}
.atm_card{
    border: 1px solid rgb(42, 131, 218);
}
.bank_head{
  float: left;
}
.delete_icon{
  float: right;
  display: none;
  cursor: pointer;
}
.card_num{
  clear: both;
}
.atm_card:hover .delete_icon{
  display: block;
}

.add_new_card_container .md-button{
  text-align: left;
}