<div class="home_container">
    <md-toolbar class="md-theme-light" ng-click="toggleSidenav()">
        <h2 class="md-toolbar-tools">
      <span>noQ</span>
    </h2>
    </md-toolbar>
    <md-content layout-padding class="autoScroll">
        <md-button class="md-fab" aria-label="Eat cake">
            <md-icon md-svg-src="" class="fa fa-qrcode"></md-icon>
        </md-button>
        <label>Scan QR</label>
        <br>
        <a href="#/checkHistory">
            <md-button class="md-fab" aria-label="Eat cake">
                <md-icon md-svg-src="" class="fa fa-history"></md-icon>
            </md-button>
        </a>
        <label>History</label>
        <br>
        <a href="#/payments">
            <md-button class="md-fab" aria-label="Eat cake">
                <md-icon md-svg-src="" class="fa fa-credit-card"></md-icon>
            </md-button>
        </a>
        <label>Payment Methods</label>
    </md-content>
</div>
