<div class="payment_container">
    <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">
                         <md-button class="md-icon-button md-mini" aria-label="Eat cake" ng-click="goBack()">
            <md-icon md-svg-src="" class="fa fa-arrow-left"></md-icon>
        </md-button>
      <span>Payment</span>
    </h2>
    </md-toolbar>
    <md-content class="md-padding">
    </md-content>
    <md-content class="md-padding">
        <center>
            <h2 style="color: rgb(63, 81, 181);">Select Payment Method</h2>
        </center>
        <a href="#/enterOtp">
            <md-card class="atm_card">
                <md-card-content>
                    <div class="bank_head">Axis Bank <i class="fa fa-cc-visa"></i></div>
                    <div class="card_num">4748 XXXX XXXX 2258</div>
                </md-card-content>
            </md-card>
        </a>
        <a href="#/enterOtp">
            <md-card class="atm_card">
                <md-card-content>
                    <div class="bank_head">HDFC Bank <i class="fa fa-cc-visa"></i></div>
                    <div class="card_num">7859 XXXX XXXX 0156</div>
                </md-card-content>
            </md-card>
        </a>
        <a href="#/enterOtp">
            <md-card class="atm_card">
                <md-card-content>
                    <div class="bank_head">SBI Bank <i class="fa fa-cc-visa"></i></div>
                    <div class="card_num">7927 XXXX XXXX 0167</div>
                </md-card-content>
            </md-card>
        </a>
        <section layout="row" layout-sm="column" layout-align="center center">
            <a href="#/addNewCard">
                <md-button class="md-raised md-warn"><i class="fa fa-plus"></i> Add new card</md-button>
            </a>
        </section>
    </md-content>
</div>
